@model IQueryable<PaulStoryCylanceCodingTest.Web.Models.ProductViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Products", "Main", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <table class="table table-striped">
        <tr>
            <th>Product Name</th>
            <th>Quantity Per Unit</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
            <th>Units On Order</th>
            <th>Reorder Level</th>
            <th>Discontinued</th>
            <th>Supplier</th>
        </tr>
       

        @foreach (var item in ViewBag.Items)
        {
            <tr class="@(@item.Discontinued ? "danger" : "")">
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.QuantityPerUnit
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.UnitsInStock
                </td>
                <td>
                    @item.UnitsOnOrder
                </td>
                <td>
                    @item.ReorderLevel
                </td>
                <td>
                    @item.Discontinued
                </td>
                <td>
                    @item.SupplierCompanyName
                </td>
            </tr>
        }

    </table>
}
